#{extends 'administrativo.html' /} 
#{set title:'Ficha de Associado' /}

<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<div class="row">
	<div class="col s12 center">
		<h5>Ficha de Associado</h5>
	</div>
</div>


<form class="col s12">
	<div class="row">
	
		<div class="col s12 center">
			#{if associado.foto?.exists()}
				<img class=" circle" height="150px" width="150px" src="@{Associados.fotoAssociados(associado.id)}"><br>
			#{/if}
		</div>
		
		<div class="col s12 center">
			#{if associado.documentos?.exists()}
				<a href="@{Associados.documentosAssociados(associado.id)}" target="_blank">Visualizar Documentos</a>
			#{/if}
		</div>
		
		
		<div class="input-field col s12 m12 l12 xl6">
			<i class="material-icons prefix">account_circle</i>
			<input disabled value="${associado.nome}" name="associado.nome" id="nome" type="text" class="validate black-text text-darken-2">
			<label for="nome">Nome</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">credit_card</i>
			<input disabled value="${associado.cpf}" name="associado.cpf" id="cpf" type="text" class="validate black-text text-darken-2">
			<label for="cpf">CPF</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">subtitles</i>
			<input disabled value="${associado.rg}" name="associado.rg" id="rg" type="text" class="validate black-text text-darken-2">
			<label for="rg">RG</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">event</i>
			<input disabled value="${associado.dtNascimento?.format()}" name="associado.dtNascimento" id="dtNascimento" type="text" class="validate black-text text-darken-2">
			<label for="dtNascimento">Data de Nascimento</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">group</i>
			<input disabled value="${associado.estado_civil}" name="associado.estado_civil" id="estado_civil" type="text" class="validate black-text text-darken-2">
			<label for="estado_civil">Estado Civíl</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">call</i>
			<input disabled value="${associado.telefone}" name="associado.telefone" id="telefone" type="text" class="validate black-text text-darken-2">
			<label for="telefone">Telefone</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">home</i>
			<input disabled value="${associado?.cidade}" name="associado.cidade" id="cidade" type="text" class="validate black-text text-darken-2">
			<label for="cidade">Cidade</label>
		</div>
		
		<div class="input-field col s12 m12 l12 xl6">
			<i class="material-icons prefix">build</i>
			<input disabled value="${associado?.assistencia}" name="associado.assistencia" id="assistencia" type="text" class="validate black-text text-darken-2">
			<label for="assistencia">Assistência</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">home</i>
			<input disabled value="${associado?.login}" name="associado.login" id="login" type="text" class="validate">
			<label for="login">Login</label>
		</div>
		
		<div class="input-field col s12 m6 l12 xl6">
			<i class="material-icons prefix">home</i>
			<input disabled value="${associado?.senha}" name="associado.senha" id="senha" type="password" class="validate">
			<label for="senha">Senha</label>
		</div>
		
		<div class="switch col s12 m12 l12 xl12 center">
			<label for="status">Usuario ${associado?.status}</label>
		</div>
		
		
								
	</div>
</form>

<div class="row">
	<div class="col s12 center">
		<h5>Histórico de Pagamentos</h5>
	</div>
</div>


#{if associado?.pagamentos}
<table class="table dataTable" id="dataTable">
	<thead>
		<th rowspan="1" colspan="1">Descrição</th>
		<th rowspan="1" colspan="1">Semestre</th>
		<th rowspan="1" colspan="1">Valor</th>
		<th rowspan="1" colspan="1">Associado</th>
		<th rowspan="1" colspan="1">Situação</th>
	</thead>
	<tbody>
		#{list items:associado.pagamentos, as:'pagamento'}
		<tr role="row">
			<td>${pagamento.descricao}</td>
			<td>${pagamento.semestre}</td>
			<td>${pagamento.valor}</td>
			<td>${pagamento.associado}</td>
			<td>${pagamento.situacaoPagamento}</td>
		</tr>
		#{/list}
	</tbody>
</table>
#{/if}
#{else}
	<p>O associado não possui nenhum pagamento</p>
#{/else}

<div class="input-field col s12" align="center">
	<a href="@{Associados.editar(associado.id)}" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">create</i></a>
   	<a href="@{Associados.remover(associado.id)}" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Inativar"><i class="material-icons">delete</i></a>
</div>
