#{extends 'administrativo.html' /} 
#{set title:'Lista de Assistencias' /}

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<table class="table dataTable" id="dataTable">
	<thead>
		<th rowspan="1" colspan="1">Razão Social</th>
		<th rowspan="1" colspan="1">Nome Fantasia</th>
		<th rowspan="1" colspan="1">Telefone</th>
		<th rowspan="1" colspan="1">Cidade</th>
		<th>Ações</th>
	</thead>
	<tbody>
		#{list items:assistencias, as:'assistencia'}
		<tr role="row">
			<td>${assistencia.razaoSocial}</td>
			<td>${assistencia.nomeFantasia}</td>
			<td>${assistencia.telefone}</td>
			<td>${assistencia.cidade}</td>
			<td>
				<a href="@{Assistencias.detalhes(assistencia.id)}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Visualizar"><i class="material-icons">visibility</i></a>
           		<a href="@{Assistencias.editar(assistencia.id)}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Editar"><i class="material-icons">create</i></a>
           	  	<!-- <a href="@{Assistencias.remover(assistencia.id)}" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Excluir"><i class="material-icons">delete</i></a> -->
           	</td>
		</tr>
		#{/list}
	</tbody>
</table>