#{extends 'administrativo.html' /} 
#{set title:'Cadastro de Assistência' /}

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>

<div class="row">
	<div class="col s12 center">
		<h5>Cadastro de Assistências</h5>
	</div>
</div>



<form class="col s12" action="@{Assistencias.salvar}" method="post">
	<div class="row">
		
		<input type="hidden" value="${assistencia?.id}" name="assistencia.id">
		
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>
			<input value="${assistencia == null ? flash['assistencia.razaoSocial'] : assistencia.razaoSocial}" name="assistencia.razaoSocial" id="razaoSocial" type="text" class="validate">
			<label for="razaoSocial">Razão Social</label>
			#{ifError 'assistencia.razaoSocial'}<div class="erro">#{error 'assistencia.razaoSocial' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>
			<input value="${assistencia == null ? flash['assistencia.nomeFantasia'] : assistencia.nomeFantasia}" name="assistencia.nomeFantasia" id="nome" type="text" class="validate">
			<label for="nomeFantasia">Nome Fantasia</label>
			#{ifError 'assistencia.nomeFantasia'}<div class="erro">#{error 'assistencia.nomeFantasia' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">credit_card</i>
			<input value="${assistencia == null ? flash['assistencia.cnpj'] : assistencia.cnpj}" name="assistencia.cnpj" id="cnpj" type="text" class="validate">
			<label for="cnpj">CNPJ</label>
			#{ifError 'assistencia.cnpj'}<div class="erro">#{error 'assistencia.cnpj' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">call</i>
			<input value="${assistencia == null ? flash['assistencia.telefone'] : assistencia.telefone}" name="assistencia.telefone" id="telefone" type="text" class="validate">
			<label for="telefone">Telefone</label>
			#{ifError 'assistencia.telefone'}<div class="erro">#{error 'assistencia.telefone' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.rua'] : assistencia.rua}" name="assistencia.rua" id="rua" type="text" class="validate">
			<label for="rua">Rua</label>
			#{ifError 'assistencia.rua'}<div class="erro">#{error 'assistencia.rua' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s2">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.numero'] : assistencia.numero}" name="assistencia.numero" id="numero" type="text" class="validate">
			<label for="numero">Nº</label>
			#{ifError 'assistencia.numero'}<div class="erro">#{error 'assistencia.numero' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s4">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.complemento'] : assistencia.complemento}" name="assistencia.complemento" id="complemento" type="text" class="validate">
			<label for="complemento">Complemento</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.bairro'] : assistencia.bairro}" name="assistencia.bairro" id="bairro" type="text" class="validate">
			<label for="bairro">Bairro</label>
			#{ifError 'assistencia.bairro'}<div class="erro">#{error 'assistencia.bairro' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.cep'] : assistencia.cep}" name="assistencia.cep" id="cep" type="text" class="validate">
			<label for="cep">CEP</label>
			#{ifError 'assistencia.cep'}<div class="erro">#{error 'assistencia.cep' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.cidade'] : assistencia.cidade}" name="assistencia.cidade" id="cidade" type="text" class="validate">
			<label for="cidade">Cidade</label>
			#{ifError 'assistencia.cidade'}<div class="erro">#{error 'assistencia.cidade' /}</div>#{/ifError}
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia == null ? flash['assistencia.estado'] : assistencia.estado}" name="assistencia.estado" id="estado" type="text" class="validate">
			<label for="estado">Estado</label>
			#{ifError 'assistencia.estado'}<div class="erro">#{error 'assistencia.estado' /}</div>#{/ifError}
		</div>
		
		
		<div class="input-field col s12" align="center">
			<button class="btn waves-effect waves-light" type="submit">
				Salvar <i class="material-icons right">save</i>
			</button>
		</div>

	</div>
</form>
