#{extends 'administrativo.html' /} 
#{set title:'Cadastro de Assistência' /}

<head>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
</head>


<form class="col s12" action="@{Assistencias.salvar}" method="post">
	<div class="row">
		
		<input type="hidden" value="${assistencia?.id}" name="assistencia.id">
		
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>
			<input value="${assistencia?.razaoSocial}" name="assistencia.razaoSocial" id="razaoSocial" type="text" class="validate">
			<label for="razaoSocial">Razão Social</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">account_circle</i>
			<input value="${assistencia?.nomeFantasia}" name="assistencia.nomeFantasia" id="nome" type="text" class="validate">
			<label for="nomeFantasia">Nome Fantasia</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">credit_card</i>
			<input value="${assistencia?.cnpj}" name="assistencia.cnpj" id="cnpj" type="text" class="validate">
			<label for="cnpj">CNPJ</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">call</i>
			<input value="${assistencia?.telefone}" name="assistencia.telefone" id="telefone" type="text" class="validate">
			<label for="telefone">Telefone</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.rua}" name="assistencia.rua" id="rua" type="text" class="validate">
			<label for="rua">Rua</label>
		</div>
		
		<div class="input-field col s2">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.numero}" name="assistencia.numero" id="numero" type="text" class="validate">
			<label for="numero">Nº</label>
		</div>
		
		<div class="input-field col s4">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.complemento}" name="assistencia.complemento" id="complemento" type="text" class="validate">
			<label for="complemento">Complemento</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.bairro}" name="assistencia.bairro" id="bairro" type="text" class="validate">
			<label for="bairro">Bairro</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.cep}" name="assistencia.cep" id="cep" type="text" class="validate">
			<label for="cep">CEP</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.cidade}" name="assistencia.cidade" id="cidade" type="text" class="validate">
			<label for="cidade">Cidade</label>
		</div>
		
		<div class="input-field col s6">
			<i class="material-icons prefix">subtitles</i>
			<input value="${assistencia?.estado}" name="assistencia.estado" id="estado" type="text" class="validate">
			<label for="estado">Estado</label>
		</div>
		
		
		<div class="input-field col s12" align="center">
			<button class="btn waves-effect waves-light" type="submit">
				Salvar <i class="material-icons right">save</i>
			</button>
		</div>

	</div>
</form>
