#logo {
	max-width: 30%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.justify {
	text-align: justify;
}


#modal1 {
	margin-top: 10%;
	max-width: 500px;
}

/* #login {
	display: inline-block;
		
} */

#index-banner {
	margin-top: 1px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }