#{extends 'administrativo.html' /}
#{set title:'Painel Administrativo' /}

<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<div class="row">
	#{if flash.success}
		<div class="chip waves-effect waves-light green darken-4 white-text col s12 center">${flash.success.raw()}<i class="close material-icons">close</i></div>
	#{/if}
	


	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Mural de Avisos</span>
				#{if avisos.size() > 2}
					#{list items:avisos.reverse().subList(0,2), as:'aviso'}
					<p> - ${aviso.assunto}</p>
			
					#{/list}
				#{/if}
				#{else}
					#{list items:avisos.reverse(), as:'aviso'}
					<p> - ${aviso.assunto}</p>
			
					#{/list}
				#{/else}
			
				
				*{ <p><!-- ${assistenciasCount} Assitencias Cadastradas -->- Reunião dia 07 de julho às 19h</p>
				<p><!-- ${associadosCount} Associados Cadastrados -->- Contribuição semestral vence em 30 de junho</p> }*
			</div>
			<div class="card-action">		
				<a href="@{Avisos.listar_avisos}">Ver Mural</a>
			</div>
		</div>
	</div>
	
	<div class="col s12 m6">
		<div class="card blue-grey darken-1">
			<div class="card-content white-text">
				<span class="card-title">Resumo</span>
				<p>${assistenciasCount} Assitencias Cadastradas</p>
				<p>${associadosCount} Associados Cadastrados</p>
			</div>
			<div class="card-action">		
				<a href="@{Associados.novo}">Novo Associado</a>
				<a href="@{Assistencias.nova_assistencia}">Nova Assistencia</a>
			</div>
		</div>
	</div>
</div>


	
