#{extends 'inicio.html' /}
#{set title:'Home' /}

<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>

<div class="container">
	<div class="section">

		<table class="table dataTable" id="dataTable">
			<thead>
				<th rowspan="1" colspan="1">Nome</th>
				<th rowspan="1" colspan="1">Telefone</th>
				<th rowspan="1" colspan="1">Cidade</th>
				<th rowspan="1" colspan="1">Assistencia</th>
			</thead>
			<tbody>
				#{list items:associados, as:'associado'}
				<tr role="row">
					<td>${associado.nome}</td>
					<td>${associado.telefone}</td>
					<td>${associado.cidade}</td>
					<td>${associado.assistencia}</td>
				</tr>
				#{/list}
			</tbody>
		</table>

		<!-- <ul class="collapsible" data-collapsible="accordion">
			#{list items:associados, as:'associado'}
			<li>
				<div class="collapsible-header">
					<i class="material-icons">room</i>${associado.cidade}
				</div>
				<div class="collapsible-body">
					<table class="table dataTable" id="dataTable">
						<thead>
							<th rowspan="1" colspan="1">Nome</th>
							<th rowspan="1" colspan="1">Telefone</th>
							<th rowspan="1" colspan="1">Cidade</th>
							<th rowspan="1" colspan="1">Assistencia</th>
						</thead>
						<tbody>
							<tr role="row">
								<td>${associado.nome}</td>
								<td>${associado.telefone}</td>
								<td>${associado.cidade}</td>
								<td>${associado.assistencia}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</li>
			#{/list}
		</ul> -->


	</div>
</div>

