<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>ASTEC-RN</title>

<!-- CSS  -->
<link href="@{'/public/materialize/css/icon.css'}" rel="stylesheet">
<link href="@{'/public/materialize/css/materialize.css'}"
	type="text/css" rel="stylesheet" media="screen,projection" />
<link href="@{'/public/materialize/css/style.css'}" type="text/css"
	rel="stylesheet" media="screen,projection" />
<link rel="stylesheet" type="text/css"
	href="@{'/public/materialize/css/estilo.css'}">
#{get 'moreStyles' /}
</head>



<body>

<main>

	<img id="logo" class="responsive-img center"
		src="@{'/public/materialize/img/logo.png'}">

	<nav class="white" role="navigation">
		<div class="nav-wrapper container">
			<ul class="left hide-on-med-and-down">
				<li><a href="@{Application.index}">Início</a></li>
				<li><a href="@{Application.associados}">Associados</a></li>
				<li><a href="@{Application.contato}">Contato</a></li>
			</ul>
			<ul class="right hide-on-med-and-down">
				<li><a class="waves-effect waves-light modal-trigger"
					href="@{Application.login}">Área Restrita</a></li>
			</ul>

			<ul id="nav-mobile" class="side-nav">
				<li><a href="@{Application.index}">Início</a></li>
				<li><a href="@{Application.associados}">Associados</a></li>
				<li><a href="@{Application.contato}">Contato</a></li>
				<li><a class="waves-effect waves-light modal-trigger"
					href="@{Application.login}">Área Restrita</a></li>
			</ul>
			<a href="#" data-activates="nav-mobile" class="button-collapse"><i
				class="material-icons">menu</i></a>
		</div>
	</nav>
	
	<div>
	
	</div>
	
	#{doLayout /}
	
	
	<!-- Modal Structure -->
	<!-- <div id="modal1" class="modal">
		<div class="modal-content">
			<div class="row">
				<form action="@{Sessao.login}" method="post" class="col s12">
					<div class="row">
						<div class="input-field col s12">
							<i class="material-icons prefix">account_circle</i>
							<input id="login" name="login"  type="text" class="validate">
							<label for="login">Usuário</label>
						</div>
						<div class="input-field col s12">
							<i class="material-icons prefix">lock</i>
							<input id="senha" name="senha" type="password" class="validate">
							<label for="senha">Senha</label>
						</div>

						<div class="input-field col s12" align="center">
							<button class="btn waves-effect waves-light" type="submit">
								Entrar <i class="material-icons right">send</i>
							</button>
						</div>
					</div>
				</form>
			</div>
		</div> -->
	</div>


</main>	




	<footer class="page-footer green darken-4">
		<div class="container">
			<div class="row">
				<div class="col l9 s12">
					<h5 class="white-text">Biografia</h5>
					<p class="grey-text text-lighten-4 justify">A ASTEC-RN é a
						primeira Associação de Técnicos em Manutenção de Celulares do
						Brasil. Nosso objetivo é reunir e apoiar os profissionais da área
						para que possamos oferecer sempre o melhor serviço para o
						consumidor.</p>


				</div>
				<!-- <div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div> -->
				<div class="col l3 s12">
					<h5 class="white-text">Redes Sociais</h5>
					<ul>
						<li><a class="white-text"
							href="https://www.facebook.com/astecrn" target="_blank">Facebook</a></li>
						<li><a class="white-text" href="https://www.instagram.com/astecrn/?hl=pt-br" target="_blank">Instagram</a></li>
						<!-- <li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li> -->
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright">
			<div class="container center-align">
				Desenvolvido por <a class="brown-text text-lighten-3"
					href="http://smusicdigital.com">S'Music Digital</a><br />Copyright
				© 2018 Materialize
			</div>
		</div>
	</footer>


	<!--  Scripts-->
	<script src="@{'/public/materialize/js/jquery-3.3.1.min.js'}"></script>
	<script src="@{'/public/materialize/js/materialize.js'}"></script>
	<script src="@{'/public/materialize/js/init.js'}"></script>
	<script type="text/javascript" src="@{'/public/materialize/js/jquery.mask.js'}"></script>

	#{get 'moreScripts' /}

</body>
</html>

