<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>#{get 'title' /}</title>
  <!-- Bootstrap core CSS-->
  <link href="@{'/public/bootstrap/vendor/bootstrap/css/bootstrap.min.css'}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="@{'/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.css'}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="@{'/public/bootstrap/css/sb-admin.css'}" rel="stylesheet">
  
  #{get 'moreStyles' /}

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="index.html">Gerenciador de Clientes</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Associados</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="@{Clientes.form}">Cadastrar</a>
            </li>
            <li>
              <a href="@{Clientes.listar}">Listar</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          #{doLayout /}
        </div>
      </div>
      <!-- Icon Cards-->
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © Your Website 2018</small>
        </div>
      </div>
    </footer>
    
    <!-- Bootstrap core JavaScript-->
    <script src="@{'/public/bootstrap/vendor/jquery/jquery.min.js'}"></script>
    <script src="@{'/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
    <!-- Core plugin JavaScript-->
    <script src="@{'/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js'}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="@{'/public/bootstrap/vendor/chart.js/Chart.min.js'}"></script>
    <script src="@{'/public/bootstrap/vendor/datatables/jquery.dataTables.js'}"></script>
    <script src="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.js'}"></script>
    <!-- Custom scripts for all pages-->
    <script src="@{'/public/bootstrap/js/sb-admin.min.js'}"></script>
    <!-- Custom scripts for this page-->
    <script src="@{'/public/bootstrap/js/sb-admin-datatables.min.js'}"></script>
    <script src="@{'/public/bootstrap/js/sb-admin-charts.min.js'}"></script>
    
    <script type="text/javascript" src="@{'/public/materialize/js/jquery.mask.js'}"></script>
	
	<script>
	    $(document).ready(function () { 
	        var $fone = $("#telefone");
	        var $cpf = $("#cpf");
	        var $rg = $("#rg");
	        
	        $cpf.mask('000.000.000-00', {reverse: false});
	        $rg.mask('000.000.000', {reverse: false});
	        $fone.mask('(00) 00000-0000', {reverse: false});
	    });
	</script>
    
    #{get 'moreScripts' /}
    
  </div>
</body>

</html>

